@import url("styles/reset.scss");
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
html {
  scroll-snap-type: y mandatory;
}

@media (min-aspect-ratio: 9/16) and (max-height: 1080px){
  //standard display
  #canvas1 {
    width:100%;
    max-width: 600px;
  }
}
@media (min-aspect-ratio: 9/16) and (min-height: 1080px){
  #canvas1 {
    width: 100%;
    //high resolution display
    max-width: 800px;
  }
}

// @media (min-aspect-ratio: 5/8) and (max-aspect-ratio: 13/16) {
//   //tablet portrait
//   #canvas1 {
//     width: 80%;
//     height: 100%;
//   }
// }
@media (max-aspect-ratio: 9/16){
  //phone portrait
  #canvas1 {
    width: 100%;
    height: 100%;
  }
}

#game-box{
  display: flex;
  justify-content: center;
}

.grey-background{
  background-color: lightgrey;
}